
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    body {
        background-image: url(/img/img.jpg);
    }

    content {
        width: 500px;
        border: solid 1px #000;
    }
</style>






   




<div class=" jumbotron">
    <center> <h2>Ingresar al Formulario para enviar un  correo</h2></center>
</div>
    <div class="navbar-collapse collapse">
        <p> En esta seccion podras enviar un correo electronico </p>

        <ul class=" btn btn-default">

            @Html.ActionLink("Enviar Correo", "EnviarCorreo")


        </ul>
    </div>

